#container{
    overflow-x: hidden;
    display: block;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.icon-menu {
    float: right;
}


.signup{
            position: absolute;
            line-height: 70px;
            top: 300px;
            right: 700px;
            width: 400px;
            height: 400px;
        }
/*#video{
    display: block;
}
video{
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
}
.viewport-height{
    height: auto;
    background-attachment: fixed;
    overflow: hidden;
    display: block;
    position: relative;
    box-sizing: border-box;
}*